name: GitHub Actions Build and Deploy Demo
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    # 下载源码
    - name: Checkout
      uses: actions/checkout@master

    # 打包构建
    - name: Build
      uses: actions/setup-node@master
    - run: npm install
    - run: npm run build

    # 部署到服务器
    - name: Deploy to Aliyun
        uses: easingthemes/ssh-deploy@v2.1.9
        env:
          # 私钥
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          # scp参数
          ARGS: "-rltgoDzvO"
          # 源目录，编译后生成的文件目录
          SOURCE: "./dist/"
          # 服务器ip：换成你的服务器IP
          REMOTE_HOST: "114.55.165.204"
          # 用户
          REMOTE_USER: "root"
          # 目标地址 你在服务器上部署代码的地方
          TARGET: "/home/my-gridsome-site"